body {
    font-family: 'Times New Roman', Times, serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
}

.nav-bt {
    border: none;
    background-color: #e3f2fd;
    height: 40px;
    font-weight: bolder;
}

.nav-bt:hover {
    color: white !important;
    border: 1px solid black !important;
    border-radius: 15px;
    background-color: black;
}

.nav-bt:active {
    color: blueviolet !important;
}

.fa-shopping-basket {
    margin-top: 2px;
    font-size: 35px !important;
}

.fa-shopping-basket:active {
    color: burlywood;
}

.fa-phone {
    margin-top: 2px;
    font-size: 35px !important;
}

.fa-phone:active {
    color: burlywood;
}

.fa-truck {
    font-size: 50px !important;
    margin-left: 12px;
    margin-right: 10px;
    color: darkgreen;
}

.fa-phone-square {
    font-size: 50px !important;
    margin-left: 12px;
    margin-right: 10px;
    color: darkgreen;
}

.fa-thumbs-up {
    font-size: 50px !important;
    margin-left: 12px;
    margin-right: 10px;
    color: darkgreen;
}

.fa-money {
    font-size: 50px !important;
    margin-right: 12px;
    color: darkgreen;
}

.card1,
.card2,
.card3,
.card4 {
    display: flex;
    width: 300px;
    height: 100px;
    background-color: whitesmoke;
    box-shadow: 2px 6px 15px black;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    margin-top: 18px;
}

.mainCard {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width:600px) {
    .card1,
    .card2,
    .card3,
    .card4 {
        width: 100%;
    }
}